* {
  box-sizing: border-box;
  margin: 0px;
  background-color: inherit;
  font-family: Nunito;
  --card-border-rad: 2vh;
  --transition-type: all .3s ease-in-out;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #f6f6f6;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
  background-color: white;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.inline {
  display: inline;
}

.nunito {
  font-family: Nunito;
}

.mono {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400;
}
